.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: bottom;
  background-color: $blue;
  max-height: 5rem;
  padding: 2.2rem 1rem;
  border: 0;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1; 
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  transition: 0.2s;
  min-width: 15rem;

  &:hover {
    background-color: #4c4d4d;
  }

  &_block {
    width: 100%;
  }

  &_lg {
    min-width: 21rem;
    max-height: 7rem;
    color: $blue;
    border: 2px solid $blue;
    background-color: #fff;

    &:hover {
      background-color: $blue;
      color: #fff;
    }
  }
}
